<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
        <h1 class="text-white text-center">Terms & Conditions</h1>
        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu dui vivamus arcu felis. Sociis natoque penatibus et magnis dis. Morbi leo urna molestie at elementum eu facilisis sed odio. Lacinia at quis risus sed vulputate odio ut enim. Quam adipiscing vitae proin sagittis nisl. Id leo in vitae turpis massa sed elementum tempus egestas. Id neque aliquam vestibulum morbi blandit cursus risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu dui vivamus arcu felis. Sociis natoque penatibus et magnis dis. Morbi leo urna molestie at elementum eu facilisis sed odio. Lacinia at quis risus sed vulputate odio ut enim. Quam adipiscing vitae proin sagittis nisl. Id leo in vitae turpis massa sed elementum tempus egestas. Id neque aliquam vestibulum morbi blandit cursus risus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ornare arcu dui vivamus arcu felis. Sociis natoque penatibus et magnis dis. Morbi leo urna molestie at elementum eu facilisis sed odio. Lacinia at quis risus sed vulputate odio ut enim. Quam adipiscing vitae proin sagittis nisl. Id leo in vitae turpis massa sed elementum tempus egestas. Id neque aliquam vestibulum morbi blandit cursus risus.</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm btn-theme mt-4">Back To Home</button>
            </div>
        </div>
    </div>
</section>
